//colors

$very-dark_cyan: hsl(183, 100%, 15%);
$dark-grayish_cyan: hsl(186, 14%, 43%);
$grayish_cyan: hsl(184, 14%, 56%);
// $light-grayish_cyan: hsl(185, 41%, 84%); --- Body
$very-light-grayish_cyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$strong-cyan: hsl(172, 67%, 45%);

@mixin inputs_results {
  min-width: 250px;
  width: 40%;
  height: 250px;
  // border: 1px solid black;
  margin: 1rem;

  display: flex;
  justify-content: space-between;
  // align-items: center;z
  flex-direction: column;

  position: relative;
}

.disabled {
  pointer-events: none;
  width: 100%;
  background: $dark-grayish_cyan;
  text-align: center;
  border-radius: 5px;
  padding: 0.3rem;
}

.custom {
  border: none;
  outline: none;
  padding: 0.2rem;
  &::placeholder {
    color: white;
  }
}
.tip-calculator {
  width: 80vw;
  height: 100vh;
  margin: auto;
  // border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  .heading {
    margin: 3rem;
    font-size: 18px;
    letter-spacing: 0.5rem;
    color: $very-dark_cyan;
  }

  &_tips_container {
    small {
      color: $grayish_cyan;
      margin-bottom: 10px;
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &_box {
    width: 70vw;
    // border: 1px solid black;
    background: $white;
    border-radius: 10px;
    // padding: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    position: relative;
  }

  &_inputs {
    @include inputs_results;
    &-box {
      width: 100%;
      // background: red;
      position: relative;

      label {
        font-size: 12px;
        color: $dark-grayish_cyan;
      }

      .bills-value {
        width: 100%;
        padding: 0.3rem;
        margin: auto;
        text-align: right;
        outline-color: $strong-cyan;
      }
      .icon {
        position: absolute;
        top: 2rem;
        left: 1rem;
      }
    }
  }

  &_results {
    @include inputs_results;
    border-radius: 10px;
    background: $very-dark_cyan;
    padding: 1rem;

    &_box_values {
      width: 100%;
      margin-top: 0.5rem;

      display: flex;
      justify-content: space-between;

      p {
        font-size: 15px;
        color: $very-light-grayish_cyan;
        span {
          font-size: 12px;
        }
      }
      h1 {
        color: $strong-cyan;
      }
    }
    &_reset {
      width: 100%;
      background: $strong-cyan;
      text-align: center;
      border-radius: 5px;
      padding: 0.3rem;
    }
  }
  &_tips {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    place-items: center;
    position: relative;
    margin-top: 10px;
    .tips {
      width: 90%;
      text-align: center;
      // padding: 0.5rem;
      //   border: 1px solid black;
      background: $very-dark_cyan;
      color: $white;
      cursor: pointer;
      border-radius: 3px;

      &:hover {
        background: $strong-cyan;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .tip-calculator {
    width: 100vw;
    &_box {
      width: 80vw;
    }
  }
}
